@font-face {
  font-family: "MyriadWeb";
  src: local("MyriadWeb"), url(../../public/fonts/MyriadWebBold.ttf) format("truetype");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0b1020;
  border-radius: 5px;
}
